[Unit]
Description=Resume API Service
After=network.target

[Service]
User=root
WorkingDirectory=/opt/resume-api
EnvironmentFile=/opt/resume-api/api.env
ExecStart=/opt/resume-api/venv/bin/uvicorn main:app --host 0.0.0.0 --port 3000
Restart=always

[Install]
WantedBy=multi-user.target